{% extends 'main.html' %}
{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'user-profile' recipient.id %}"><i
                    class="fa-solid fa-arrow-left"></i></a>
            <br>

            <form class="form" action="" method="POST">
                {% csrf_token %}

                {% if not request.user.is_authenticated %}
                <div class="form__field">
                    <label for="Input-{{form.name.label}}">{{form.name.label}}: </label>
                    {{form.name}}
                </div>

                <div class="form__field">
                    <label for="Input-{{form.email.label}}">{{form.email.label}}: </label>
                    {{form.email}}
                </div>


                {% endif %}

                <div class="form__field">
                    <label for="Input-{{form.subject.label}}">{{form.subject.label}}: </label>
                    {{form.subject}}
                </div>

                <div class="form__field">
                    <label for="Input-{{form.body.label}}">{{form.body.label}}: </label>
                    {{form.body}}
                </div>


                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Send"/>
            </form>
        </div>
    </div>
</main>

{% endblock content %}